<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header>
        <h1>GOTTA CATCH EM ALL</h1>
    </header>
    <ul class = "pokemon">
        <%for (i=0; i<pokemon.length; i++) { %>
            
            
            <li>
                <img class='thumbnail' src="<%=pokemon[i].img%>" alt="img">
            </br>
                <a href="/pokemon/<%=pokemon[i].id%>"> <%=pokemon[i].name %> </a>
                <br>
                <a href="/pokemon/<%=pokemon[i].id%>/edit">Edit</a>
            
                <!-- <form action='/pokemon/<%=i%>?_method=DELETE' method='POST'>
                    <input type="submit" value="DELETE"/> -->
                </form>
            
                
            </li>
            
        <% } %>
    </ul>
    <a href="/pokemon/new">Submit a New Pokemon</a>
    <a href="/players">Players Page</a>

</body>
</html>